
<form class="form-compact" enctype="multipart/form-data" #lotForm="ngForm" (ngSubmit)="upload(file.files);send(lotForm);" action="">
  <div class="row paddingBottom20">
    <div class="container col-6">
      <div class="row">
        <h6 class="text-center col-12 mb-0">Введите данные</h6>
        <sub class="text-right text-muted col-12"><a href="#" tabindex="-1"><i class="far fa-edit"></i></a></sub>
      </div>
      <div class="dropdown-divider mb-3"></div>

      <div class="form-group row">
        <label for="Name" class="col-4 col-form-label-sm text-right">Имя лота:</label>
        <div class="col-8">
          <div class="input-group">
            <input id="Name" name="Name" type="text" ngModel class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="Info" class="col-4 col-form-label-sm text-right">Описание:</label>
        <div class="">
          
            <div id="Info" name="Info"    type="text" ngModel class="form-control form-control-sm summernote"></div>
            

          
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="StartPrice" class="col-4 col-form-label-sm text-right">Стартовая цена:</label>
        <div class="col-8">
          <div class="input-group">
            <input id="StartPrice" name="StartPrice" ngModel min="0" type="number" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="LotCategory" class="col-4 col-form-label-sm text-right">Категория:</label>
        <div class="col-8">
          <div class="input-group">
            <select id="LotCategory" name="LotCategory" ngModel class="form-control">
              <option *ngFor="let p of categories" value="{{p?.categoryName}}">{{p?.categoryName}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="BuyOutPrice" class="col-4 col-form-label-sm text-right">Цена моментального выкупа:</label>
        <div class="col-8">
          <div class="input-group">
            <input id="BuyOutPrice" name="BuyOutPrice" min="0" ngModel type="number" class="form-control form-control-sm extendable">
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="DateStart" class="col-4 col-form-label-sm text-right">Дата начала:</label>
        <div class="col-8">
          <div class="input-group">
            <input id="DateStart" name="DateStart" ngModel type="datetime-local" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label for="DateEnd" class="col-4 col-form-label-sm text-right">Дата конца:</label>
        <div class="col-8">
          <div class="input-group">
            <input id="DateEnd" name="DateEnd" ngModel type="datetime-local" class="form-control form-control-sm">
          </div>
        </div>
      </div>

      <div class="form-group row align-items-center">
        <label for="File" class="col-4 col-form-label-sm text-right">Фото:</label>
        <div class="col-8">
          <div class="input-group">
            <input id="File" name="File" #file multiple type="file" class="form-control form-control-sm">
          </div>
        </div>
      </div>
      <div>
        <input type="submit" class="fadeIn fourth" value="Добавить">
      </div>
    </div>
  </div>
</form>

