<div *ngIf="dataService.isViewed;else item">
  <div class="col-md-9">
    <div class="row">
      <div *ngFor="let p of products" class="col-sm-4 col-lg-4 col-md-4">
        
          <div class="thumbnail">
            <img width="200px" height="250px" style="min-width: 220px;
    min-height: 250px;
    max-width: 220px;
    max-height: 250px
" src="/Upload/{{p.fileID.name}}" alt="">
            <div class="caption">
              <h4 class="pull-right">От {{p.startPrice}} б/р</h4>
              
                <a (click)="itemopen(p.lotId)">{{p.name}}</a>
              
                <p style=" word-wrap: break-word; overflow: hidden;">{{p.info| slice:0:60}}</p>
            </div>
            <div class="ratings">
              <p class="">Дата закрытия:{{p.dateEnd|date:"dd/MM в HH:mm"}}</p>
              <p>
                
              </p>
            </div>
          </div>
    
      </div>
    </div>
  </div>
</div>


  <ng-template #item >

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="mb-2">
            <img class="w-100" src="/Upload/{{current.fileID.name}}" alt="">
          </div>
          <div class="mb-2 d-flex">
            <h4 class="font-weight-normal">{{current.name}}</h4>
          </div>
          <div class="mb-2">
            <ul class="list-unstyled">
              <li class="media">
                <span class="w-50 text-black font-weight-normal">Категория:</span>
                <label class="media-body">{{current.lotCategory.categoryName}}</label>
              </li>
              <li class="media">
                <span class="w-50 text-black font-weight-normal">Дата закрытия лота:</span>
                <label class="media-body">{{current.dateEnd|date:"dd/MM в HH:mm"}}</label>
              </li>
              <li class="media">
                <span class="w-50 text-black font-weight-normal">Владелец:</span>
                <label class="media-body">{{current.owner.email}}</label>
              </li>
              <li class="media">
                <span class="w-50 text-black font-weight-normal">Цена выкупа:</span>
                <label class="media-body">{{current.buyOutPrice}} б/р</label>
              </li>
              <li class="media">
                <span class="w-50 text-black font-weight-normal">Стартовая цена:</span>
                <label class="media-body">{{current.startPrice}} б/р</label>
              </li>
              <li class="media">
                <span class="w-50 text-black font-weight-normal">Статус:</span>
                <label class="media-body">{{current.status}}</label>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-7 col-md-6 pl-xl-3">
          <h5 class="font-weight-normal">Информация о лоте:</h5>
          <p>{{current.info}}</p>
          <div class="my-2 bg-light p-2">
            <p *ngIf="bets!=null;else gg" class="font-italic mb-0">Текущая ставка:{{bets.newPrice}} б/р</p>
            <ng-template #gg>
              <p class="font-italic mb-0">Текущая ставка:{{current.startPrice}} б/р</p>
            </ng-template>
          </div>

          <h5 class="font-weight-normal">Новая ставка</h5>
          <div class="input-group mb-5">
            <input type="number"  min="{{current.startPrice}}"  aria-describedby="basic-addon2"><button type="button" (click)="buy(current.lotId)" class="btn btn-success">Сделать ставку!</button><button type="button" class="btn btn-primary">Купить сразу</button>

          </div>

        </div>
      </div>
    </div>
  </ng-template>
