<header>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <a class="navbar-brand" (click)="got()">Аукцион</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" (click)="got()" routerLink="">Главная</a></li>
          <li class="nav-item" *ngIf="isAdmin" role="presentation"><a class="nav-link" routerLink="/admin">Админпанель</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/">Активные</a></li>
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/">Завершенные</a></li>

          <li class="nav-item" role="presentation"> <input class="form-control" type="text" placeholder="Поиск" (input)="search($event)" aria-label="Search"></li>
        </ul>

        <div *ngIf="isUserAuthenticated();else unset">
          <a class="btn btn-lg btn-success" routerLink="/newlot" data-toggle="modal">Добавить лот</a>
          


          <span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" (click)="logOut()">Выход</a></span>

        </div>
        <ng-template #unset>
          <span class="navbar-text actions"><a class="btn btn-light action-button" routerLink="/login" role="button">Вход</a></span>
        </ng-template>   
       
      </div>
    </div>
  </nav>
</header>
