<header>
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    <div class="container">
      <a class="navbar-brand" href="#">Интернет аукцион</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse"
           id="navcol-1">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="">Главная</a></li>
          <div >
          <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/category">Категории</a></li></div>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Лоты</a>
            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Проданные лоты</a><a class="dropdown-item" role="presentation" href="#">Secon</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
          </li>
        </ul>
        <div *ngIf="isUserAuthenticated();else unset">
          <a class="btn btn-lg btn-success" routerLink="/newlot" data-toggle="modal">Добавить лот</a>
          


          <span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" (click)="logOut()">Выход</a></span>

        </div>
        <ng-template #unset>
          <span class="navbar-text actions"> <a class="login" routerLink="/login">Вход</a><a class="btn btn-light action-button" role="button" href="#">Регистрация</a></span>
        </ng-template>   
       
      </div>
    </div>
  </nav>
</header>
